<nav id="navbar-test" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#"><img alt="The Iron Yard" src="images/tiy_logo.png"/></a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/manage_students">Students</a></li>
                <li><a href="/manage_majors">Majors</a></li>
                <li><a href="/manage_instructors">Instructors</a></li>
                <li><a href="/manage_classes">Classes</a></li>
                <li><a href="/manage_grades">Grades</a></li>
                <li><a href="/manage_assignments">Assignments</a></li>
                <li><a href="/manage_major_class">Major_Class</a></li>
                <li><a href="/manage_student_class">Student_Class</a></li>
            </ul>

            <div class="navbar-form navbar-right">
                <div class="input-group">
                    <input id="srchText" type="text" class="form-control" placeholder="Search the Web">
                    <span class="input-group-btn">
                        <button id="srchButton" type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>